<!-- Footer Section -->
<div class="centered-content">
    <footer>
        <p>Copyright &copy; Assignment 1, Hsin-Tung Chen, 301270943, Web Application development, 2023 Fall.</p>
    </footer>
</div>