<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="centered-content">
        <!-- Header Section -->
        <header>
            <div class="logo">
                <!-- Custom Logo -->
                <div class="custom-logo">
                    <img src="/images/logo.png" alt="Custom Logo" width="80" height="80">
                </div>
                <!-- Navigation Section -->
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Me</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
</body>

</html>