<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>

    <body>
        <div class="centered-content">
            <div class="wrapper">
                <h1>About Me</h1>
                <!-- Main Content Section -->
                <main>
                    <div class="about">
                        <h2>Hsin-Tung, Chen</h2>
                        <img src="/images/file.jpg" alt="name" width="240" height="320">
                        <p>I'm a software developer passionate about creating beautiful and functional websites.</p>
                        <a href="/resume/resume.pdf" class="btn">Download Resume</a>
                    </div>
                </main>
            </div>
        </div>
    </body>

    <%- include('partials/footer') %>

</html>
