<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>

    <body>
        <div class="centered-content">
            <div class="wrapper">
                <h1>Contact</h1>
                <main>
                    <!-- Main Content Section -->
                    <div class="contact">
                        <h2>Contact Me</h2>
                        <div class="contact-info">
                            <p>Email: hchen236@my.centennialcollege.ca</p>
                            <p>Phone: (647) 937-8364</p>
                        </div>
                        <form action="/send-message" method="post">
                            <input type="text" name="firstName" placeholder="First Name" required>
                            <input type="text" name="lastName" placeholder="Last Name" required>
                            <input type="text" name="Contact Number" placeholder="Contact Number">
                            <input type="email" name="email" placeholder="Email" required>
                            <textarea name="message" placeholder="Your Message" required></textarea>
                            <button type="submit" class="btn">Send Message</button>
                        </form>
                    </div>
                </main>
            </div>
        </div>
    </body>

    <%- include('partials/footer') %>

</html>