<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>

    <body>
        <div class="centered-content">
            <div class="wrapper">
                <h1>Projects</h1>
                <!-- Main Content Section -->
                <main>
                    <div class="projects">
                        <div class="project">
                            <h2>Project 1 Train Ticket Booking System</h2>
                            <img src="/images/project1.jpg" alt="Project 1" width="680" height="380">
                            <li>Developed and implemented a reliable database system for managing train ticket data</li>
                            <li>Executed simple and complex queries to showcase data retrieval and manipulation
                                capabilities
                            </li>
                        </div>
                        <div class="project">
                            <h2>Project 2 Starry Sky Drawing Tablet</h2>
                            <img src="/images/project2.jpg" alt="Project 2">
                            <li>Developed and implemented hand posture detection using the MediaPipe framework</li>
                            <li>Trained VGG16, CNN models to respond to voice commands</li>
                        </div>
                        <div class="project">
                            <h2>Project 3 Individual term project - the estate website</h2>
                            <img src="/images/project3.jpg" alt="Project 3" width="670" height="425">
                            <li>An introduction website created for a real estate agent</li>
                            <li>With a web page showing all the properties as thumbnail pictures</li>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>

    <%- include('partials/footer') %>

</html>