<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>

    <body>
        <div class="centered-content">
            <div class="wrapper">
                <h1>Services</h1>
                <!-- Main Content Section -->
                <main>
                    <div class="services">
                        <h2>Skills</h2>
                        <ul>
                            <li>Web Development</li>
                            <li>Software Systems Design</li>
                            <li>UI/UX Design</li>
                            <li>Custom Software Solutions</li>
                            <li>Oracle Database</li>
                        </ul>
                    </div>
                </main>
            </div>
        </div>
    </body>

    <%- include('partials/footer') %>

</html>